.svg-inline--fa {
    box-sizing: content-box;
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    width: var(--fa-width, 1.25em);
}

.rounded-full {
    border-radius: 3.40282e38px;
}